.about {
  position: relative;
  margin-bottom: 112px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 550px;
    background-image: url('./../img/spiral.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;

    @media (max-width: 1440px) {
      left: unset;
      right: 0;
      transform: rotate(180deg) translateY(50%);
      width: 100px;
      height: 200px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: flex-start;

    @include tablet {
      gap: 40px;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &:nth-child(even) {
      justify-content: flex-end;
    }


    &:not(:last-child) {
      margin-bottom: 23px;

      @include tablet {
        margin-bottom: 10px;
      }
    }

    &:nth-child(1) {
      .about__item {
        transform: rotate(-3deg);

        @include tablet {
          transform: rotate(-4deg);
        }
      }
    }

    &:nth-child(2) {
      .about__item {
        transform: rotate(-2deg);

        @include tablet {
          transform: rotate(0deg);
        }
      }
    }

    &:nth-child(4) {
      .about__item {
        transform: rotate(3deg);

        @include tablet {
          transform: rotate(1deg);
        }
      }
    }

    &:nth-child(5) {
      .about__item {
        transform: rotate(-3deg);

        @include tablet {
          transform: rotate(-1deg);
        }
      }
    }
  }

  &__item {
    display: inline-block;
    padding: 12px 36px;
    border-radius: 30px;
    background: #2c281f;

    font-weight: 600;
    font-size: 24px;
    color: #fff;

    @include tablet {
      font-size: 20px;
    }

    @include small-tablet {
      font-size: 16px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 36px;
    color: #2c281f;

    @include small-tablet {
      font-size: 28px;
      color: #0a90f1;
      margin-bottom: 16px;
    }
  }

  &__left {
    width: 100%;
  }

  &__desc {
    margin: 0;

    font-weight: 400;
    font-size: 32px;
    color: #2c281f;

    @include tablet {
      font-size: 24px;
    }

    @include small-tablet {
      font-size: 20px;
    }

    span {
      font-weight: 600;
    }
  }
}