.cases {
  position: relative;
  z-index: 2;
  margin-bottom: 112px;

  @media (max-width: 1440px) {
    margin-bottom: 140px;
  }

  @include tablet {
    margin-bottom: 100px;
  }

  @include small-tablet {
    margin-bottom: 56px;
  }

  &__title {
    margin-bottom: 48px;

    @include small-tablet {
      margin-bottom: 32px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    background-color: #0f87de;
    cursor: pointer;

    @media (max-width: 1440px) {
      top: unset;
      width: 80px;
      height: 80px;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    &--prev {
      left: 0;
      transform: translate(-100%, -50%);

      @media (max-width: 1440px) {
        top: unset;
        bottom: 0;
        transform: translateY(110%);
      }
    }

    &--next {
      right: 0;
      transform: translate(100%, -50%) rotate(180deg);

      @media (max-width: 1440px) {
        top: unset;
        bottom: 0;
        transform: translateY(110%) rotate(180deg);
      }
    }
  }

  &__slider {
    .swiper-slide {
      box-sizing: border-box;

      @include tablet {
        width: auto;
      }

      @include small-tablet {
        width: 100%;
      }
    }
  }

  &__link {
    display: none;

    position: absolute;
    right: 36px;
    bottom: 24px;
    width: 40px;
    height: 40px;

    svg {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      display: block;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 24px;
    border-radius: 20px;
    padding: 24px 36px;
    background: #1badf6;
    color: #fff;
    max-width: 765px;
    position: relative;

    @include tablet {
      width: 100%;
      max-width: 100%;
      padding-bottom: 67px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 750px;
      height: 284px;
      left: 90%;
      bottom: 0;
      background-image: url('./../img/line.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;

      @include tablet {
        display: none;
      }
    }
  }
}


.case {
  background: #2c281f;
  padding: 48px 36px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  @include tablet {
    width: 640px;
  }

  @include small-tablet {
    width: 100%;
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 120px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 820px;
    height: 1000px;
    border-radius: 100%;

    @include tablet {
      width: 900px;
      height: 705px;
    }

    @include small-tablet {
      width: 555px;
      height: 620px;
    }

  }

  &::before {
    z-index: 1;
    bottom: 30%;
    right: 0;
    transform: translateX(20%);
    background: linear-gradient(180deg, #aae1fc 0%, #1badf6 100%);

    @include tablet {
      right: -460px;
      bottom: -100px;
    }

    @include small-tablet {
      right: unset;
      left: 50px;
      transform: translateX(0%);
      bottom: -390px;
    }
  }

  &::after {
    z-index: 2;
    background: linear-gradient(180deg, #0f87de 0%, #1badf6 100%);
    top: 40px;
    right: 0;
    transform: translateX(50%);

    @include tablet {
      top: unset;
      right: 50%;
      bottom: -430px;
      transform: translateX(50%);
    }

    @include small-tablet {
      width: 403px;
      height: 450px;
      right: -280px;
      bottom: 10px;
      transform: unset;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 28px;
    position: relative;
    z-index: 4;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;

    @include small-tablet {
      gap: 8px;
    }
  }

  &__header {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 24px;

    @include small-tablet {
      margin-bottom: 16px;
    }
  }

  &__img {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    overflow: hidden;

    @include tablet {
      width: 66px;
      height: 66px;
    }

    @include small-tablet {
      width: 60px;
      height: 60px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    color: #fff;

    @include small-tablet {
      font-size: 20px;
    }
  }

  &__info {
    color: #fff;

    &:not(:last-child) {
      margin-bottom: 18px;

      @include small-tablet {
        margin-bottom: 16px;
      }
    }

    ul {
      padding-left: 20px;
    }

    span {
      font-weight: 600;
    }
  }
}

.case-item {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  max-height: 246px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include small-tablet {
    max-height: 150px;
  }

  &__img {
    padding: 25px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}