.hero {
  padding-top: 230px;
  padding-bottom: 362px;
  background-image: url('./../img/hero.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  position: relative;

  @media (max-height: 768px) {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 150px;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    background-position: center 60%;
    background-size: 100% auto;
    background-image: url('./../img/hero-mob.webp');
  }

  @include small-tablet {
    padding-top: 97px;
    padding-bottom: 97px;
    background-size: cover;
    background-position: 90% 60%;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    height: 100%;

  }

  &__title {
    margin: 0;
    max-width: 940px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
    color: #2c281f;


    @include tablet {
      font-size: 48px;
      margin-bottom: 72px;
      max-width: 786px;
    }

    @include small-tablet {
      font-size: 26px;
      margin-bottom: 24px;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 97px;
    max-width: 610px;
    font-weight: 400;
    font-size: 36px;
    color: #0a90f1;

    @include tablet {
      font-size: 32px;
      margin-bottom: 56px;
      max-width: 600px;
    }

    @include small-tablet {
      font-size: 20px;
      max-width: 60%;
      margin-bottom: auto;
    }
  }

  &__btn {
    position: relative;

    &-wrapper {
      @include small-tablet {
        display: flex;
        justify-content: center;
      }
    }

    @include small-tablet {
      font-size: 16px;
      padding: 12px 23px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 94%;
      top: 30%;
      width: 160px;
      height: 160px;

      background-image: url('./../img/cursor.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include tablet {
        display: none;
      }
    }
  }
}