.service {
  padding-top: 80px;
  position: relative;
  margin-bottom: 112px;

  @include small-tablet {
    padding-top: 56px;
    margin-bottom: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
    width: 460px;
    height: 700px;

    background-image: url('./../img/spiral2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

    @include small-tablet {
      width: 230px;
      height: 350px;
      transform: translateY(-70%);
    }
  }

  &__title {
    position: relative;
    margin-bottom: 38px;
    line-height: 1;

    @include small-tablet {
      margin-bottom: 32px;
    }

    span {
      display: inline-block;
      transform: translateY(-10px);
      padding: 12px 24px;
      border-radius: 30px;
      background: #2c281f;
      font-weight: 600;
      font-size: 20px;
      color: #fff;

      @include tablet {
        font-size: 16px;
      }

      @include small-tablet {
        transform: unset;
        display: block;
        font-size: 16px;
        text-align: center;
        margin-top: 16px;
      }

      @include mobile {}
    }
  }

  &__items {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include small-tablet {
      display: block;
    }
  }

  &__item {
    @include small-tablet {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &--long {
      grid-column: 2 span;
    }
  }
}

.service-item {
  padding: 48px 36px;
  min-height: 470px;
  background-color: #fff;
  border-radius: 20px;

  position: relative;

  @include small-tablet {
    min-height: unset;
  }

  &:nth-child(3n + 1) {
    background-image: url('./../img/blob.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -27px;

      width: 210px;
      height: 210px;
      background-image: url('./../img/rocket.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include small-tablet {
        width: 134px;
        height: 134px;
      }
    }
  }

  &:nth-child(3n + 3) {
    &::after {
      content: "";
      position: absolute;
      right: -48px;
      top: -54px;

      width: 247px;
      height: 354px;
      background-image: url('./../img/check-tg.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @include small-tablet {
        width: 100px;
        height: 150px;
        right: -15px;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 32px;
    color: #2c281f;

    @include small-tablet {
      font-size: 24px;
      margin-bottom: 32px;
      padding-right: 60px;
    }
  }

  &__desc {
    max-width: 862px;
  }

  &--long {
    min-height: auto;
    padding-right: 200px;

    @include small-tablet {
      padding-right: 0;
    }
  }
}