<section class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__left">
        <div class="about__row">
          <div class="about__item">Широкая аудитория</div>
        </div>
        <div class="about__row">
          <div class="about__item">Прямой доступ к аудитории</div>
        </div>
        <div class="about__row">
          <div class="about__item">Высокий уровень вовлеченности</div>
        </div>
        <div class="about__row">
          <div class="about__item">Отсутствие рекламных алгоритмов</div>
        </div>
        <div class="about__row">
          <div class="about__item">Гибкие возможности монетизации</div>
        </div>
      </div>
      <div class="about__right">
        <h2 class="about__title">
          Telegram — возможности, которые растут вместе с вами!
        </h2>
        <p class="about__desc">
          Telegram объединяет миллионы пользователей России и по всему миру. К
          2024 году мессенджером
          <span>пользуются 800 млн. человек в месяц. </span>
        </p>
      </div>
    </div>
  </div>
</section>
