<section class="cases">
  <div class="container">
    <h2 class="title2 cases__title">кейсы</h2>

    <p class="text cases__desc">
      Мы гордимся результатами работы нашей команды и готовы поделиться
      примерами успешных проектов, в которых наши клиенты достигли значительных
      успехов, благодаря нашим услугам
    </p>

    <div class="swiper cases__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="cases__item case">
            <div class="case__container">
              <div class="case__left">
                <div class="case__header">
                  <div class="case__img">
                    <img src="./img/cases/01.webp" alt="" />
                  </div>
                  <div class="case__name">Канал «Tech News»</div>
                </div>

                <div class="case__info text">
                  <span>Тематика:</span> Технологии и инновации
                </div>
                <div class="case__info text">
                  <span>Цель:</span> Привлечение аудитории, заинтересованной в
                  последних новостях и трендах в сфере технологий
                </div>
                <div class="case__info text">
                  <span>Результаты:</span>
                  <ul>
                    <li>
                      Увеличение числа подписчиков с 5,000 до 50,000 за 6
                      месяцев
                    </li>
                    <li>Рост дохода от рекламных интеграций на 150%</li>
                    <li>
                      Подключение канала к партнерской программе с ежемесячным
                      доходом в 100 000
                    </li>
                  </ul>
                </div>
              </div>

              <div class="case__items">
                <div class="case__item case-item"></div>
                <div class="case__item case-item"></div>
                <div class="case__item case-item"></div>
                <div class="case__item case-item">
                  <div class="case-item__img">
                    <img src="./img/diagram.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
