<section class="cases" id="cases">
  <div class="container">
    <h2 class="title2 cases__title">кейсы</h2>

    <p class="text cases__desc">
      Мы гордимся результатами работы нашей команды и готовы поделиться
      примерами успешных проектов, в которых наши клиенты достигли значительных
      успехов, благодаря нашим услугам

      <a href="#" class="cases__link">
        <svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M42.1968 0.745433C42.1968 0.745433 46.4355 -0.611258 45.7464 3.48908C45.4909 5.17996 43.9678 11.0458 42.6308 17.4156L38.3002 36.255C38.3002 36.255 37.8381 39.0294 35.7488 39.3435C33.6607 39.6566 30.7717 37.2136 30.2432 36.6799C29.8183 36.2769 22.1987 30.1334 19.5783 27.2236C18.8424 26.4272 18.0537 24.8939 20.0183 23.3464L32.9837 12.2028C34.4713 10.8605 36.1219 7.5744 30.0864 11.2262L13.1877 21.4273C13.1877 21.4273 11.265 22.49 7.94386 21.1105L0.750649 18.06C0.750649 18.06 -1.8272 16.0094 2.99097 14.5792C14.8491 9.82571 29.3342 5.17054 42.1947 0.745257L42.1968 0.745433Z"
            fill="white" />
        </svg>
      </a>
    </p>
    <div class="cases__wrapper">
      <div class="swiper cases__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cases__item case">
              <div class="case__container">
                <div class="case__left">
                  <div class="case__header">
                    <div class="case__img">
                      <img src="./img/cases/01.webp" alt="" />
                    </div>
                    <div class="case__name">Канал «Tech News»</div>
                  </div>

                  <div class="case__info text">
                    <span>Тематика:</span> Технологии и инновации
                  </div>
                  <div class="case__info text">
                    <span>Цель:</span> Привлечение аудитории, заинтересованной в
                    последних новостях и трендах в сфере технологий
                  </div>
                  <div class="case__info text">
                    <span>Результаты:</span>
                    <ul>
                      <li>
                        Увеличение числа подписчиков с 5,000 до 50,000 за 6
                        месяцев
                      </li>
                      <li>Рост дохода от рекламных интеграций на 150%</li>
                      <li>
                        Подключение канала к партнерской программе с ежемесячным
                        доходом в 100 000
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="case__items">
                  <div class="case__item case-item"></div>
                  <div class="case__item case-item"></div>
                  <div class="case__item case-item"></div>
                  <div class="case__item case-item">
                    <div class="case-item__img">
                      <img src="./img/diagram.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cases__item case">
              <div class="case__container">
                <div class="case__left">
                  <div class="case__header">
                    <div class="case__img">
                      <img src="./img/cases/01.webp" alt="" />
                    </div>
                    <div class="case__name">Канал «Tech News»</div>
                  </div>

                  <div class="case__info text">
                    <span>Тематика:</span> Технологии и инновации
                  </div>
                  <div class="case__info text">
                    <span>Цель:</span> Привлечение аудитории, заинтересованной в
                    последних новостях и трендах в сфере технологий
                  </div>
                  <div class="case__info text">
                    <span>Результаты:</span>
                    <ul>
                      <li>
                        Увеличение числа подписчиков с 5,000 до 50,000 за 6
                        месяцев
                      </li>
                      <li>Рост дохода от рекламных интеграций на 150%</li>
                      <li>
                        Подключение канала к партнерской программе с ежемесячным
                        доходом в 100 000
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="case__items">
                  <div class="case__item case-item"></div>
                  <div class="case__item case-item"></div>
                  <div class="case__item case-item"></div>
                  <div class="case__item case-item">
                    <div class="case-item__img">
                      <img src="./img/diagram.svg" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cases__btn cases__btn--prev case-prev">
        <svg width="38" height="66" viewBox="0 0 38 66" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M34.0941 64.5894L37.3406 61.3427C37.7742 60.9101 37.9902 60.4117 37.9902 59.8483C37.9902 59.2863 37.7742 58.7882 37.3406 58.3555L11.8193 32.8329L37.3399 7.31138C37.7735 6.87853 37.9896 6.3804 37.9896 5.81768C37.9896 5.25472 37.7735 4.75659 37.3399 4.32397L34.0932 1.07772C33.6606 0.644184 33.1625 0.428101 32.5995 0.428101C32.037 0.428101 31.5389 0.644866 31.1063 1.07772L0.844124 31.3392C0.411274 31.7718 0.194962 32.2702 0.194962 32.8329C0.194962 33.3956 0.411274 33.8931 0.844124 34.3255L31.1063 64.5894C31.5391 65.022 32.0372 65.237 32.5995 65.237C33.1625 65.237 33.6606 65.022 34.0941 64.5894Z"
            fill="white" />
        </svg>
      </div>
      <div class="cases__btn cases__btn--next case-next">
        <svg width="38" height="66" viewBox="0 0 38 66" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M34.0941 64.5894L37.3406 61.3427C37.7742 60.9101 37.9902 60.4117 37.9902 59.8483C37.9902 59.2863 37.7742 58.7882 37.3406 58.3555L11.8193 32.8329L37.3399 7.31138C37.7735 6.87853 37.9896 6.3804 37.9896 5.81768C37.9896 5.25472 37.7735 4.75659 37.3399 4.32397L34.0932 1.07772C33.6606 0.644184 33.1625 0.428101 32.5995 0.428101C32.037 0.428101 31.5389 0.644866 31.1063 1.07772L0.844124 31.3392C0.411274 31.7718 0.194962 32.2702 0.194962 32.8329C0.194962 33.3956 0.411274 33.8931 0.844124 34.3255L31.1063 64.5894C31.5391 65.022 32.0372 65.237 32.5995 65.237C33.1625 65.237 33.6606 65.022 34.0941 64.5894Z"
            fill="white" />
        </svg>
      </div>
    </div>
  </div>
</section>