<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <title>MaxGraph New Site</title>
  <link rel="preload" href="fonts/Onest-Bold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Onest-ExtraBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Onest-Light.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Onest-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Onest-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/PlusJakartaSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/PlusJakartaSans-Bold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/PlusJakartaSans-Medium.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/nunito-sans-600.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/nunito-sans-400.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="jquery.min.js"></script>
  <script defer src="select2.min.js"></script>
  <script defer src="js/main.js"></script>
</head>