<div class="modal">
  <div class="modal__close">
    <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M49.5 16.5L16.5 49.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      <path d="M16.5 16.5L49.5 49.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>
  <div class="modal__body">
    <form action="#" class="form modal-form">
      <div class="form__title">
        Оставьте заявку и получите бесплатную консультацию
      </div>
      <div class="form__content">
        <input type="hidden" name="Тема заявки:">
        <label class="form__label">
          <input type="text" class="form__input input-name" placeholder="Имя" name="Имя: " />
        </label>
        <label class="form__label">
          <input type="email" class="form__input input-email" placeholder="Электронная почта" name="Email: " />
        </label>
        <label class="form__label">
          <input type="tel" class="form__input input-tel" placeholder="Телефон" name="Телефон: " />
        </label>
        <label class="form__label">
          <select name="Способ связи" class="form__select modal-select" style="width: 100%; height: 56px">
            <option></option>
            <option value="Телефон">Телефон</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="Telegram">Telegram</option>
          </select>
        </label>

        <button class="form__btn btn-reset btn btn--blue">
          Оставить заявку
        </button>
        <div class="form__check">
          <label>
            <input type="checkbox" class="form__checkbox" />
            Я согласен с политикой конфиденциальности
          </label>
        </div>
      </div>
    </form>
  </div>
</div>