<section class="plans">
  <div class="container">
    <h2 class="plans__title title2">
      Тарифы
      <span>Поднимем ваш канал на новый уровень</span>
    </h2>
    <p class="text plans__desc">
      Наши тарифы охватывают все этапы работы с Telegram-каналами, начиная с
      базовых решений для новичков, до полного ведения под ключ
    </p>

    <div class="plans__items">
      <div class="plans__item plan">
        <div class="plan__left">
          <div class="plan__header">
            <div class="plan__title title2">Стартовый</div>
            <p class="plan__desc">Для для тех, кто хочет запустить канал</p>
            <span class="plan__price"> от 10 000₽ </span>
            <div class="plan__img">
              <img src="./img/plans/01.webp" alt="" />
            </div>
          </div>
        </div>

        <div class="plan__right">
          <ul class="list-reset plan__list">
            <li class="plan__item text">
              Подробное обсуждение запуска, ведения и продвижения канала
            </li>
            <li class="plan__item text">
              Анализ вашей ниши и разработка стратегии
            </li>
            <li class="plan__item text">Разработка контент-плана на месяц</li>
            <li class="plan__item text">
              Создание 10 постов (текст + изображения)
            </li>
          </ul>

          <a href="#" class="plan__btn btn btn-reset btn--blue" data-modal-btn
            data-input-value="Стартовый пакет">Выбрать пакет</a>
        </div>
      </div>
      <div class="plans__item plan">
        <div class="plan__left">
          <div class="plan__header">
            <div class="plan__title title2">Базовый</div>
            <p class="plan__desc">
              Для владельцев каналов с начальной аудиторией, которые хотят
              ускорить рост и улучшить качество контента
            </p>
          </div>
          <span class="plan__price"> 30 000₽ </span>
          <div class="plan__img">
            <img src="./img/plans/02.webp" alt="" />
          </div>
        </div>

        <div class="plan__right">

          <ul class="list-reset plan__list">
            <li class="plan__item text">
              Оптимизация текущего контента и канала
            </li>
            <li class="plan__item text">
              Разработка контент-стратегии на два месяца
            </li>
            <li class="plan__item text">
              Создание 15 постов (текст + мультимедиа)
            </li>
            <li class="plan__item text">
              Первые шаги в продвижении: таргетированная реклама и коллаборации
            </li>
            <li class="plan__item text">Аналитика и ежемесячные отчеты</li>
          </ul>

          <a href="#" class="plan__btn btn btn-reset btn--blue" data-modal-btn data-input-value="Базовый пакет">Выбрать
            пакет</a>
        </div>
      </div>
      <div class="plans__item plan">
        <div class="plan__left">
          <div class="plan__header">
            <div class="plan__title title2">Продвинутый</div>
            <p class="plan__desc">
              Для тех, кто хочет вывести канал на новый уровень монетизации.
            </p>
            <span class="plan__price"> 50 000₽ </span>
          </div>
          <div class="plan__img">
            <img src="./img/plans/03.webp" alt="" />
          </div>
        </div>

        <div class="plan__right">
          <ul class="list-reset plan__list">
            <li class="plan__item text">Полный аудит и анализ конкурентов</li>
            <li class="plan__item text">
              Разработка расширенной контент-стратегии на три месяца
            </li>
            <li class="plan__item text">
              Создание 25 постов с мультимедийным контентом
            </li>
            <li class="plan__item text">
              Активное продвижение через рекламные кампании и партнерства
            </li>
            <li class="plan__item text">
              Монетизация: настройка платных подписок и рекламных интеграций
            </li>
            <li class="plan__item text">
              Ежемесячные отчеты и корректировка стратегии
            </li>
          </ul>

          <a href="#" class="plan__btn btn btn-reset btn--blue" data-modal-btn
            data-input-value="Продвинутый пакет">Выбрать пакет</a>
        </div>
      </div>
      <div class="plans__item plan">
        <div class="plan__left">
          <div class="plan__header">
            <div class="plan__title title2">Премиум</div>
            <p class="plan__desc">
              Для владельцев каналов, которые хотят максимизировать доход и
              эффективность управления каналом.
            </p>
            <span class="plan__price"> от 80 000₽ </span>
          </div>
          <div class="plan__img">
            <img src="./img/plans/04.webp" alt="" />
          </div>
        </div>

        <div class="plan__right">
          <ul class="list-reset plan__list">
            <li class="plan__item text">
              Персонализированный подход: стратегия, разработанная специально
              под ваши цели
            </li>
            <li class="plan__item text">
              Гибкий объем контента и частота публикаций
            </li>
            <li class="plan__item text">
              Полное ведение канала, включая все аспекты контента, продвижения и
              монетизации
            </li>
            <li class="plan__item text">
              Аналитика в реальном времени и адаптация стратегии
            </li>
            <li class="plan__item text">
              Персональный менеджер и круглосуточная поддержка
            </li>
          </ul>

          <a href="#" class="plan__btn btn btn-reset btn--blue" data-modal-btn
            data-input-value="Продвинутый пакет">Выбрать пакет</a>
        </div>
      </div>
    </div>
  </div>
</section>