<section class="service" id="services">
  <div class="container">
    <h2 class="title2 service__title">
      Какие услуги мы<br />предлагаем
      <span> Глобальный охват, персонализированный подход! </span>
    </h2>

    <div class="service__items">
      <div class="service-item service__item">
        <div class="service-item__title">Продвижение<br />Telegram-каналов</div>
        <p class="text service-item__desc">
          Мы разрабатываем и внедряем эффективные стратегии продвижения, которые
          помогают привлечь целевую аудиторию и увеличить активность на вашем
          канале.
        </p>
      </div>
      <div class="service-item service__item">
        <div class="service-item__title">
          Продакшн и создание<br />контента под ключ
        </div>
        <p class="text service-item__desc">
          Создаем уникальный, качественный контент, который привлекает внимание
          и удерживает аудиторию. Видеоролики, инфографика, статьи, посты — все
          это мы создаем с учетом ваших целей и интересов вашей аудитории.
        </p>
      </div>

      <div class="service-item service-item--long service__item--long">
        <div class="service-item__title">Аналитика и монетизация каналов</div>
        <p class="text service-item__desc">
          Предоставляем комплексную аналитику вашего Telegram-канала, помогая
          вам понять поведение аудитории и оптимизировать стратегию контента. На
          основе данных и глубокого анализа, мы разрабатываем стратегии
          монетизации, чтобы ваш канал не только рос, но и приносил стабильный
          доход.
        </p>
      </div>
    </div>
  </div>
</section>
