<section class="testi" id="testi">
  <div class="container">
    <h2 class="title2 testi__title">Отзывы наших клиентов</h2>

    <div class="testi__items">
      <div class="testi__item testi-item">
        <div class="testi-item__header">
          <div class="testi-item__img">
            <img src="./img/testi/01.webp" alt="" />
          </div>
          <div class="testi-item__name">
            <span>Анна Иванова</span> директор по маркетингу, ООО «Tech
            Solutions»<br />
          </div>
        </div>
        <div class="testi-item__interes">
          Вовлеченность аудитории до продвижения:<br />Результаты продвижения:
        </div>
        <div class="testi-item__review">
          <p class="text">
            "Сотрудничество с tgprod стало поворотным моментом для нашего
            Telegram-канала. За короткий срок команда помогла нам увеличить
            количество подписчиков в пять раз и значительно повысить
            вовлеченность аудитории. Особенно хочется отметить их
            профессиональный подход к созданию контента — все материалы были на
            высшем уровне, и их работа действительно дала результаты. Рекомендую
            эту компанию всем, кто хочет вывести свои Telegram-каналы на новый
            уровень!"
          </p>
        </div>
      </div>
      <div class="testi__item testi-item">
        <div class="testi-item__header">
          <div class="testi-item__img">
            <img src="./img/testi/02.webp" alt="" />
          </div>
          <div class="testi-item__name">
            <span>Дмитрий Смирнов</span>
            основатель и CEO, «FitLife»<br />
          </div>
        </div>
        <div class="testi-item__interes">
          Количество подписчико до продижения:<br />Результаты продвижения:
        </div>
        <div class="testi-item__review">
          <p class="text">
            "Когда мы начали сотрудничество с tgprod, наш канал был в самом
            начале пути, и мы искали партнёров, которые могли бы помочь нам
            быстро развить его. Команда превзошла все наши ожидания! Они не
            только привлекли новую аудиторию, но и создали качественный контент,
            который удерживал интерес подписчиков. Благодаря их стратегическому
            подходу, мы смогли запустить несколько успешных рекламных кампаний,
            которые принесли значительный доход. Результаты говорят сами за себя
            — рост подписчиков на 600% за четыре месяца и стабильно высокий
            уровень вовлеченности. Это сотрудничество стало для нас настоящим
            успехом."
          </p>
        </div>
      </div>
    </div>

    <div class="testi__videos">
      <div class="testi__v testi__video">
        <video src="" poster="./img/testi/cover.webp" controls></video>
      </div>

      <div class="testi__v testi__partner">
        “Это сотрудничество стало для нас настоящим успехом”
      </div>
    </div>
  </div>
</section>
