<section class="useful">
  <div class="useful__title useful__title--mob">
    Для кого будет полезно продвижение в Telegram?
  </div>
  <div class="swiper useful__slider">
    <div class="swiper-wrapper">
      <h2 class="swiper-slide useful__title">
        Для кого будет полезно продвижение в Telegram?
      </h2>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/01.webp" alt="" />
          </div>
          <div class="useful__name">Онлайн-магазины и e-commerce</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/03.webp" alt="" />
          </div>
          <div class="useful__name">Инфобизнес и образовательные проекты</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/04.webp" alt="" />
          </div>
          <div class="useful__name">Услуги и товары (B2C)</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/05.webp" alt="" />
          </div>
          <div class="useful__name">
            Специалисты в сфере финансов и инвестици
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/02.webp" alt="" />
          </div>
          <div class="useful__name">Инфобизнес и образовательные проекты</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/06.webp" alt="" />
          </div>
          <div class="useful__name">Стартапы и инновационные проекты</div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="useful__item">
          <div class="useful__img">
            <img src="./img/useful/07.webp" alt="" />
          </div>
          <div class="useful__name">Медиа и информационные ресурсы</div>
        </div>
      </div>
    </div>
  </div>

  <div class="useful__control">
    <div class="useful__wrapper">
      <div class="useful__btn useful-prev useful__btn--prev">
        <svg
          width="20"
          height="35"
          viewBox="0 0 20 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.2706 1.21985L0.582429 2.90814C0.356992 3.1331 0.244629 3.39225 0.244629 3.68522C0.244629 3.97748 0.356992 4.23651 0.582429 4.46147L13.8535 17.7332L0.582784 31.0044C0.357347 31.2295 0.244984 31.4885 0.244984 31.7812C0.244984 32.0739 0.357347 32.3329 0.582784 32.5579L2.27107 34.2459C2.49604 34.4714 2.75506 34.5837 3.0478 34.5837C3.3403 34.5837 3.59933 34.471 3.82429 34.2459L19.5606 18.51C19.7857 18.285 19.8982 18.0259 19.8982 17.7332C19.8982 17.4406 19.7857 17.182 19.5606 16.9571L3.82429 1.21985C3.59921 0.994884 3.34018 0.883114 3.0478 0.883114C2.75506 0.883114 2.49604 0.994884 2.2706 1.21985Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="useful__btn useful-next useful__btn--next">
        <svg
          width="20"
          height="35"
          viewBox="0 0 20 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.2706 1.21985L0.582429 2.90814C0.356992 3.1331 0.244629 3.39225 0.244629 3.68522C0.244629 3.97748 0.356992 4.23651 0.582429 4.46147L13.8535 17.7332L0.582784 31.0044C0.357347 31.2295 0.244984 31.4885 0.244984 31.7812C0.244984 32.0739 0.357347 32.3329 0.582784 32.5579L2.27107 34.2459C2.49604 34.4714 2.75506 34.5837 3.0478 34.5837C3.3403 34.5837 3.59933 34.471 3.82429 34.2459L19.5606 18.51C19.7857 18.285 19.8982 18.0259 19.8982 17.7332C19.8982 17.4406 19.7857 17.182 19.5606 16.9571L3.82429 1.21985C3.59921 0.994884 3.34018 0.883114 3.0478 0.883114C2.75506 0.883114 2.49604 0.994884 2.2706 1.21985Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
