<section class="work" id="about">
  <div class="container">
    <h2 class="title2 work__title">О нас и нашей работе</h2>
    <p class="text work__desc">
      <span>Tgprod</span>
      — команда профессионалов, специализирующихся на продвижении и развитии
      Telegram-каналов. Наша миссия — помочь вам создать и монетизировать
      успешный Telegram-канал, который станет мощным инструментом для вашего
      бизнеса.
    </p>

    <div class="work__items">
      <div class="work__item work-item">
        <span>более</span>
        3
        <span>лет на рынке</span>
      </div>

      <div class="work-item work__item">
        <span>более</span>
        3
        <span>лет на рынке</span>

        <div class="work-item__elems">
          <img src="./img/work/02.webp" alt="" />
          <img src="./img/work/03.webp" alt="" />
          <img src="./img/work/04.webp" alt="" />
          <img src="./img/work/05.webp" alt="" />
          <img src="./img/work/06.webp" alt="" />
          <img src="./img/work/07.webp" alt="" />
        </div>
      </div>

      <div class="work-item work__item work__item--long">
        <div class="work-item__list">
          <div class="work-item__item">
            Индивидуальный подход к каждому клиенту
          </div>
          <div class="work-item__item">Прозрачность и отчетность</div>
          <div class="work-item__item">Комплексный подход</div>
          <div class="work-item__item">
            Опыт работы с каналами различных тематик
          </div>
          <div class="work-item__item">
            Гарантия результата: от роста подписчиков до монетизации
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
