// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/nav";
@import "./components/hero";
@import "./components/about";
@import "./components/useful";
@import "./components/work";
@import "./components/service";
@import "./components/cases";
@import "./components/team";
@import "./components/faq";
@import "./components/plans";
@import "./components/testi";
@import "./components/contacts";
@import "./components/form";
@import "./components/footer";
@import "./components/menu";